body {
	font-family:'Roboto Condensed','Times New Roman', Times, serif;
    font-weight: 300;
    min-height: 100vh;
    padding: 0;
	margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	color: #242121;
}
header {
    background-image: url(../assets/img/Rectangle75.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
ul {
    list-style-type: none;
    display: flex;
}
.container {
	width: 930px;
	margin: 0 auto;
}
.topline {
	display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.logo {
    width: 60px;
    height: 63px;
    margin-top: 35px;
    float: left;
}
nav {
	float: right;
	margin-top: 52px;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #ffffff;
	text-decoration: none;
	text-transform: none;
	font-size: 24px;
    font-weight: 400;
}
.titles {
    margin-top: 100px;
}
.titles_first {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 654px;
    height: 190px;
    color: #0D302C;
    display: block;
    }
.h1 {
    color: #060606;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    }
.vector {
    width: 20px;
    height: 69px;
    margin-top: 350px;
    margin-left: 450px;
    }
    ::selection {
        color: rgb(43, 170, 96);
    }
    .link:hover {
        color: rgb(43, 115, 170);
        text-decoration: underline;
    }
    .link:active {
        color: rgb(43, 170, 96);
    }
    .link {
        transition: .3s;
    }


